.root {
    -fx-base: #222;
    -fx-background: #222;
    -fx-control-inner-background: #333;
    -fx-text-fill: #eee;
}

.list-cell {
    -fx-text-fill: white;
    -fx-background-color: #222;
}

.list-cell:selected {
    -fx-background-color: #444;
}

.text-field {
    -fx-background-color: #333;
    -fx-text-fill: #fff;
}
